# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=evita_journal_database

# Configuración del Servidor
PORT=3000

# Seguridad (Para el JWT que armará Lautaro luego)
JWT_SECRET=super_secreto_hospital_evita_2026
